
@{
    ViewBag.Title = "Character Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background-color:#132347">
            <h3 class="text-center" style="color:white">
                HERO DETAILS
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="background-color:#10182B; border:.5px solid black; height:558px">
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
            <ul class="list-unstyled" style="color:#5082BA">
                <li>
                    Lorem ipsum dolor sit amet
                </li>
                <li>
                    Consectetur adipiscing elit
                </li>
                <li>
                    Integer molestie lorem at massa
                </li>
                <li>
                    Facilisis in pretium nisl aliquet
                </li>
                <li>
                    Nulla volutpat aliquam velit
                </li>
                <li>
                    Faucibus porta lacus fringilla vel
                </li>
                <li>
                    Aenean sit amet erat nunc
                </li>
                <li>
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3" style="background-color:#1E263B; border:1px solid black">
                    <h3 class="text-center" style="color:white">
                        ALL
                    </h3>
                </div>
                <div class="col-md-3" style="background-color:#1E263B; border:1px solid black">
                    <h3 class="text-center" style="color:white">
                        GEAR
                    </h3>
                </div>
                <div class="col-md-3" style="background-color:#1E263B; border:1px solid black">
                    <h3 class="text-center" style="color:white">
                        ISO-8
                    </h3>
                </div>
                <div class="col-md-3" style="background-color:#1E263B; border:1px solid black">
                    <h3 class="text-center" style="color:white">
                        CARD
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="background-color:#10182B; border:.5px solid black; height:500px">
                    <ol class="list-unstyled" style="color:#5082BA">
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            Integer molestie lorem at massa
                        </li>
                        <li>
                            Facilisis in pretium nisl aliquet
                        </li>
                        <li>
                            Nulla volutpat aliquam velit
                        </li>
                        <li>
                            Faucibus porta lacus fringilla vel
                        </li>
                        <li>
                            Aenean sit amet erat nunc
                        </li>
                        <li>
                            Eget porttitor lorem
                        </li>
                    </ol>
                </div>
                <div class="col-md-6" style="background-color:#10182B; border:.5px solid black; height:500px">
                    <ul class="list-unstyled" style="color:#5082BA">
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            Integer molestie lorem at massa
                        </li>
                        <li>
                            Facilisis in pretium nisl aliquet
                        </li>
                        <li>
                            Nulla volutpat aliquam velit
                        </li>
                        <li>
                            Faucibus porta lacus fringilla vel
                        </li>
                        <li>
                            Aenean sit amet erat nunc
                        </li>
                        <li>
                            Eget porttitor lorem
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="background-color:#22304B">
            <button class="btn btn-primary" style="color:white">
                CLOSE
            </button>
        </div>
    </div>
</div>